.menu{
    height: 100vh;
    background-image:url('https://blogcdn.dandyweng.com/backgrounds/09.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.menu > h1,h3,h4,q{
    color: white;
};
h4{
    font-size: 13px;
}
.icon{
    position: fixed;
}